body {
  margin: 0;
}

body.light main{
  background-color: #e8e5da;
}

body.dark main{
  background-color: #212121;
}

main{
  padding-bottom: 30px;
  height: 90vh;
}


#boutonCopier {
  display: flex;
  appearance: none;
  flex-wrap: wrap;
  background-color: #2a2b38;
  border: 0.125em solid #ffeba7;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #ffeba7;
  cursor: pointer;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height:normal;
  min-height: 2.5em;
  outline:none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  font-size: 1vw;
  width: 11.1vw;
  justify-content: center;
  align-items: center;
  margin:0;
  padding: 10px;
}



#boutonCopier:disabled {
  pointer-events: none;
}

#boutonCopier:hover {
  color: #2a2b38;
  background-color: #ffeba7;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#boutonCopier:active {
  box-shadow: none;
  transform: translateY(0);
}

#boutonC{
  display: flex;
  
  justify-content: center;
}
.listeOptions {
  height: 75vh;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  transition: 0.3s;
}

.listeOptions div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #2a2b38;
  margin: 3vw;
  margin-top: 5vw;
  border-radius: 5%;
  height: 60vh;
  width: 60vw;
  transition: 0.3s;
  max-width: 60vh;
}

.listeOptions div:hover {
  height: 65vh;
  max-width: 65vh;

}
.listeOptions div:hover img{
  width: 23vw;
  height: 28vh;
  transition-duration: 0.2s;
}

.listeOptions a {
  color: #ffeba7;
  text-decoration: none;
  font-size: 2em;
  margin: 1em;
  font-weight: bold;
  text-align: center;
}

.listeOptions div:hover a {
  font-size: 2.1em;
  transition-duration: 0.2s;
}



.listeOptions img {
  width: 20vw;
  height: 25vh;
  border-radius: 5%;
  margin: 2rem;
  align-self: center;
}

@media screen and (max-width: 1100px) {
  .listeOptions {
    flex-direction: column;
    height: 95%;
    padding: 0;
  }

  .listeOptions div {
    height: 50vh;
    width: 60vw;
    max-width: 20vw;
    max-width: 50vh;
  }

  .listeOptions div:hover {
    height: 53vh;
    width: 63vw;
    max-width: 20vw;
    max-width: 50vh;
  }

  .listeOptions img {
    width: 30vw;
    height: 20vh;
    margin: 2rem;
  }
  .listeOptions div:hover img{
    width: 33vw;
    height: 24vh;
    transition-duration: 0.2s;
  }
}