body {
  margin: 0;
}

main{
  background-color: #fafafc
}

.listeOptions {
  height: 85vh;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  transition: 0.3s;
}


.card {
  height: 45vh;
  width: 18vw;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  overflow: hidden;
}

.card-image {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  color: #fafafc;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #0a3394;
  background: linear-gradient(to top, #0a3394, #4286f4);
  font-weight: bolder;
  font-size: 2.5vw;
  text-align: center;
  align-items: center;
}

.card-description {
  display: flex;
  position: absolute;
  gap: .5em;
  background-color: #f5f5f5;
  color: #212121;
  height: 80%;
  width: 100%;
  top: 100%;
  border-radius: 16px;
  transition: all .6s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center; 
  align-items: center;
}
.card:hover .card-description {
  transform: translateY(-100%);
}

@media screen and (max-width: 1100px) {
  .listeOptions {
    flex-direction: column;
    height: 95%;
    padding: 0;
  }

  .listeOptions div {
    height: 50vh;
    width: 60vw;
    max-width: 20vw;
    max-width: 50vh;
  }

  .listeOptions div:hover {
    height: 53vh;
    width: 63vw;
    max-width: 20vw;
    max-width: 50vh;
  }

  .listeOptions img {
    width: 30vw;
    height: 20vh;
    margin: 2rem;
  }
  .listeOptions div:hover img{
    width: 33vw;
    height: 24vh;
    transition-duration: 0.2s;
  }
}
