html{
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  margin: 0;
  background-color: #fafafc;
}

header:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block;
  margin: auto;
  width: 90%;
  border-bottom: .1vh solid #000;
  box-shadow: 0.3vw 0.3vw .80vw 0.01vw #000;
}

ul {
  display: flex;
  list-style-type: none;
}

.img_base {
  height: 5vw;
  width: 5vw;
  border-radius: 15%;
  margin-right: 2vw;
  margin-left: 2vw;
}


.img_maison {
  height: 2vw;
  width: 2vw;
  border-radius: 15%;
  margin-right: 2vw;
  margin-left: 2vw;
}

#nom_Entreprise {
  color: #212121;
  font-size: 3vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bouton_se_connecter{
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height:normal;
  outline:none;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  font-size: 1vw;
  width: 11.1vw;
  height: 5vh;
  justify-content: center;
  align-items: center;
  display: block;
  line-height: 40px;
  font-family: sans-serif;
  text-decoration: none;
  background-color: transparent;
  color: #000;
  letter-spacing: .1vw;
}

#bouton_se_connecter span{
  position: relative;
  z-index: 2;
}

#bouton_se_connecter:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #000;
  transition: all .35s;
}

#bouton_se_connecter:hover{
  color: #fff;
}

#bouton_se_connecter:hover:after{
  width: 100%;
}

.toggle-switch {
  position: relative;
  width: 6vw;
  height: 5vh;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
  margin-top: 3%;

}

.switch-label {
  position: absolute;
  width: 5vw;
  height: 4vh;
  background-color: var(--dark);
  border-radius: 25em;
  cursor: pointer;
  
  font-size: 1vh;

}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 5vw;
  height: 4vh;
  border-radius: 25em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  
}

.checkbox:checked ~ .slider {
  background-color: var(--light);

}

.slider::before {
  content: "";
  position: absolute;
  margin-top: 12%;
  left: 1em;
  width: 1vw;
  height: 1.5vh;
  border-radius: 50%;
  -webkit-box-shadow: inset 500px -5px 0px 0px var(--link);
  box-shadow: inset 0.5em -0.25em  var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1vh;
  
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.noligne{
  text-decoration: none;
}
@media screen and (max-width: 1100px) {
  #nom_Entreprise {
    margin-right: 0vw;
  }
}


.username{
  margin-right: 1vw;
  font-size: 2vw;
  margin-top: 3%;
  color: #000;
}

.gauche {
  display: flex;
  justify-content: center;
  align-items: center;
}

.droite{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
