header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin: 0;
  background-color: #2a2b38;
}

.img_base {
  height: 5vw;
  width: 5vw;
  border-radius: 15%;
  margin-right: 2vw;
  margin-left: 2vw;
}

#nom_Entreprise {
  color: #e9c46a;
  font-size: 3vw;
  margin-right: 38vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

#bouton_se_connecter {
  border-radius: 5%;
  font-size: 2vw;
}

#bouton_se_connecter {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #ffeba7;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #ffeba7;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

#bouton_se_connecter:disabled {
  pointer-events: none;
}

#bouton_se_connecter:hover {
  color: #2a2b38;
  background-color: #ffeba7;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#bouton_se_connecter:active {
  box-shadow: none;
  transform: translateY(0);
}

.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #333;
  color: #fff;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  #nom_Entreprise {
    margin-right: 10vw;
  }
}
