body{margin:0;}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2D8DD2;
    width: 22vw;
    height: 22vh;
    text-align: center;
    border-radius: 45%;
    margin-left: 39vw;
}

body.light .main {
    background-color: #e8e5da;
  }
  
  body.dark .main {
    background-color: #212121;
  }

#modification{
    color: #FFFF;
    font-size: 2vw;
}

.listeOptions{
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style-type: none;
}

.listeOptions > li > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #2a2b38;
    margin: 3vw;
    margin-top: 2vw;
    border-radius: 5%;
    height: 53vh;
    width: 25vw;
}


.listeOptions >li > div:hover {
    height: 53vh;
    width: 28vw;
}

.listeOptions > li > div {
    font-size: 2.1em;
    transition-duration: 0.2s;
}

.text_link{
    color: #E9C46A;
    text-decoration: none;
    font-size: 2vw;
    margin: 1vw;
    font-weight: bold;
    text-align: center;
}

.text_link:hover{
    font-size: 2vw;
    transition-duration: 0.2s;
}

.image_link:hover, .image_link_liste:hover{
    transition-duration: 0.2s;
}

.image_link{
    width: 20vw;
    height: 20vh;
    border-radius: 5%;
    margin: 1vw;
    margin-left: 2vw;
    align-self: center;
}

.image_link_liste{
    width: 7vw;
    height: 8vh;
    border-radius: 5%;
    margin-top: 1vw;
    margin-left:2vw;
    margin-bottom: 1vh;
    align-self: center;
}

#image_branchements{
    width: 18vw;
    height: 10vh;
    border-radius: 5%;
    margin-top: 1vw;
    margin-left:3vw;
    margin-bottom: 1vh;
    align-self: center;
}

#liste_image_accueil_1,#liste_image_accueil_2,#liste_image_rider_1,#liste_image_rider_2{
    list-style-type: None;
}

#liste_image_rider_1{
    display: flex;
    margin-top: -9vh;
}

#image_electrique{
    margin-left: 3vw;
}

.carre_images2{
    margin-top:7vh;
}