body{margin:0;}

.main{
    min-height: 90vh;
}

.middle{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3%;
}

body.light .main {
    color: #212121;
    font-size: 1vw;
  }
body.light .main .partie_principale, body.light .main {
    background-color: #e8e5da;
}
  
body.dark .main .partie_principale, body.dark .main{
    background-color: #212121;
}
body.dark .main {
    color: #e8e5da;
    font-size: 1vw;
}

#modification {
    font-weight: 300;
}

#tete_page{
    display: flex;
}

.bouton_de_retour{
    appearance: none;
    background-color: #2a2b38;
    color: #ffeba7;
    margin-top: 5vh;
    margin-left: 3vw;
    height: 6vh;
    width: 7vw;
    text-align: center;
    font-size: 2vh;
    box-sizing: border-box;
    border-radius: 0.9375em;
    border: none;
}

.bouton_de_retour:disabled {
    pointer-events: none;
}

.bouton_de_retour:hover {
  color: #2a2b38;
  background-color: #ffeba7;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.bouton_de_retour:active {
  box-shadow: none;
  transform: translateY(0);
}




  
.listeOptions {

margin: 0;
display: flex;
flex-wrap: nowrap;
justify-content: space-around;
align-items: center;
list-style-type: none;
transition: 0.3s;
}

.listeOptions div {
display: flex;
flex-direction: column;
justify-content: space-evenly;
background-color: #2a2b38;
margin: 3vw;
border-radius: 5%;
height: 50vh;
width: 50vw;
transition: 0.3s;
max-width: 50vh;
}

.listeOptions div:hover {
height: 53vh;
width: 53vw;
max-width: 53vh;

}
.listeOptions div:hover img{
width: 19vw;
height: 24vh;
transition-duration: 0.2s;
}

.listeOptions a {
color: #ffeba7;
text-decoration: none;
font-size: 2em;
font-weight: bold;
text-align: center;
}

.listeOptions div:hover a {
font-size: 2.1em;
transition-duration: 0.2s;
}



.listeOptions img {
width: 18vw;
height: 23vh;
border-radius: 5%;
margin: 2rem;
align-self: center;
}

@media screen and (max-width: 1100px) {
.listeOptions {
    flex-direction: column;
    height: 95%;
    padding: 0;
}

.listeOptions div {
    height: 50vh;
    width: 60vw;
    max-width: 20vw;
    max-width: 50vh;
}

.listeOptions div:hover {
    height: 53vh;
    width: 63vw;
    max-width: 20vw;
    max-width: 50vh;
}

.listeOptions img {
    width: 30vw;
    height: 20vh;
    margin: 2rem;
}
.listeOptions div:hover img{
    width: 33vw;
    height: 24vh;
    transition-duration: 0.2s;
}
}
  