body{
    margin:0;
}

main{
    display: flex;
    height:85vh;
    background-color: #fafafc;
}

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 10vh;
    margin-bottom: 3vh;
    padding: 1vw;
    height: 65vh;
    width: 20vw;
    margin-left : 30vw;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    margin-top: 2vh;
  }

  
  .input-container {
    height: 5vh;
    width: 100%;
    position: relative;
    margin-top: 3vh;
  }

  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 1vw;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  


  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 2vh;
    left: 1.5vh;
    position: absolute;
    top: -2vh;
    transform: translateY(0);
    transition: transform 200ms;
    width: 7vw;
  }
  
  .iLabel {
    color: #65657b;
    font-family: sans-serif;
    left: 1vw;
    line-height: 2vh;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    font-size: 2vh;
    top: 2vh;
  }
  
  .input:focus ~ .cut {
    transform: translateY(1vh);
  }
  
  .input:focus ~ .iLabel {
    transform: translateY(-3.5vh) translateX(1.5vh) scale(0.75);
    opacity: 1;
  }
  
  .input:not(:focus) ~ .iLabel {
    color: #808097;
  }
  
  .input:focus ~ .iLabel{
    color: #fff;
  }

  .input:valid ~ .cut{
    transform: translateY(1vh);
  }

  .input:valid  ~ .iLabel {
    transform: translateY(-3.5vh) translateX(1.5vh) scale(0.75);
    opacity: 1;
  }
  
  .input:valid ~ .iLabel {
    color: #fff;
  }
  
  .submit {
    background-color: #ffeba7;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.5vw;
    font-weight: 400;
    height: 5vh;
    margin-top: 3vh;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1vw;
    text-transform: uppercase;
    padding: 0;
    background-color: #ffeba7;
    color: #5e6681;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all 0.3s ease-in-out;
  }
  .submit:hover {
    background-color: #5e6681;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
  }
  
  .submit:active {
    background-color: #06b;
  }

  .bouton_de_retour{
    appearance: none;
    background-color: #2a2b38;
    color: #ffeba7;
    margin-top: 5vh;
    margin-left: 3vw;
    height: 6vh;
    width: 7vw;
    text-align: center;
    font-size: 2vh;
    box-sizing: border-box;
    border-radius: 0.9375em;
    border: none;
}

.bouton_de_retour:disabled {
    pointer-events: none;
}

.bouton_de_retour:hover {
  color: #2a2b38;
  background-color: #ffeba7;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.bouton_de_retour:active {
  box-shadow: none;
  transform: translateY(0);
}