body {
  margin: 0;
  padding: 0;
}

body.light .left {
  background-color: #fff;
}

.left > h2{
  margin-left: 5rem;
  font-size: 2vw;
  text-align: left;
  font-weight: 800;
}

body.light .left > h2  {
  color: #212121;
}

body.dark .left{
  background-color: #212121;
}

body.dark .left > h2{
  color: #fff;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 45vw;
  height: 85vh;
  text-align: center;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  transition: 0.2s;
}

.main {
  background-image: url("../static/img/fond.jpg");
  background-size: 100%;
  background-position: 25vw;
}

.buttonOrg{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  margin-left: 5vw;
  transition-duration: 0.4s;
  width: 20vw;
  height: 10vh;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(0, 0, 0, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

a {
  text-decoration: none;
}

.buttonOrg:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.buttonOrg span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 1vw;
  font-weight: 600;
}

.buttonOrg span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonOrg:hover span {
  padding-right: 2rem;
}

.buttonOrg:hover span:after {
  opacity: 1;
  right: 0;
}

body.light .buttonOrg {
  color: #fff;
  background-color: #212121;
}

body.dark .buttonOrg {
  color: #212121;
  background-color: #fff;
}

@media screen and (max-width: 1600px){
  .main{
    background-size: 100%;
  }
}

@media screen and (max-width: 1400px){
  .main{
    background-size: 100%;
  }
}

@media screen and (max-width: 1200px){
  .main{
    background-size: 100%;
  }
}

@media screen and (max-width: 1000px){
  .left{
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .buttonOrg span{
    font-size: 1rem;
  }

  .buttonOrg{
    width: 35vw;
    font-size: 3vw;
  }

  .left > h2{
    font-size: 3vw;
  }
}

@media screen and (max-width: 800px){
  .buttonOrg{
    width: 40vw;
    font-size: 4vw;
  }
  .buttonOrg span:after {
    right: -10px;
  }
}

@media screen and (max-width: 600px){
  .left > h2{
    font-size: 4vw;
    text-align: center;
  }
}
