body {
  margin: 0;
  padding: 0;
}

body.light .left {
  background-color: #e8e5da;
}

body.light .left > h2  {
  color: #212121;
  text-align: left;
  margin-left: 5rem;
  font-size: 2vw;
}

body.dark .left{
  background-color: #212121;
}

body.dark .left > h2{
  color: #e8e5da;
  text-align: left;
  margin-left: 5rem;
  font-size: 2vw;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e5da;
  width: 45vw;
  height: 85vh;
  text-align: center;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
}

.main {
  background-image: url("../static/img/fond.jpg");
  background-size: 80%;
  background-position: 25vw;
}

.buttonOrg{
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  margin-left: 5vw;
  transition-duration: 0.4s;
  width: 20vw;
  height: 10vh;
  
}

body.light .buttonOrg {
  color: #e8e5da;
  background-color: #212121;
}

body.dark .buttonOrg {
  color: #212121;
  background-color: #e8e5da;
}


.buttonOrg:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #c930b9;
}

.buttonOrg span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 1rem;
}

.buttonOrg span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonOrg:hover span {
  padding-right: 2rem;
}

.buttonOrg:hover span:after {
  opacity: 1;
  right: 0;
}
