{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='accueil_bien_etre.css')}}" />
<script src="../static/script/copier.js"></script>
{% endblock %} {% block content %}
<main>
  
<ul class="listeOptions">
  <li>
    <a href="{{ url_for('liste_concerts') }}">
      <div>
        Consulter la liste des concerts prévus
        <img
          src="{{ url_for('static', filename='img/prevus.jpg') }}"
          alt="salle de concert vide en préparation"
        />
      </div>
    </a>
  </li>
  <li>
    <a href="{{ url_for('creation_concert') }}">
      <div>
        Creer concert
        <img
          src="{{ url_for('static', filename='img/prevus.jpg') }}"
          alt="salle de concert vide en préparation"
        />
      </div>
    </a>
  </li>
  <li>
    <a href="{{ url_for('choix_groupes_artistes') }}">
      <div>
        Modifier les fiches d'artiste
        <img
          src="{{ url_for('static', filename='img/checklist.png') }}"
          alt="image de checklist"
        />
      </div>
    </a>
  </li>
</ul>
<div id="boutonC">
  <button onclick="copierTexteDansPressePapiers()" id="boutonCopier">Copier le lien du formulaire</button>

</div>

</main>
{% endblock %}
