{% extends 'base_sans_log.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='accueil_artiste.css')}}" />
{% endblock %} {% block content %}
<main>
  <h1> Bienvenue sur la gestion de votre concert {{nom_concert}}</h1>
  
  <!-- <a href="{{ url_for('liste_groupe_id', id=id) }}">
    <button class="submit" type="button">continuer</button>
  </a> -->
  <a href="{{ url_for('liste_groupe_id', id=id) }}" class="cta">
    <span>Click me</span>
    <svg width="13px" height="10px" viewBox="0 0 13 10">
      <path d="M1,5 L11,5"></path>
      <polyline points="8 1 12 5 8 9"></polyline>
    </svg>
  </a>
</main>

{% endblock %}
