{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='accueil_bien_etre.css')}}" />
<script src="../static/script/copier.js"></script>
{% endblock %} {% block content %}
<main>
  
<ul class="listeOptions">
  <li>
    <a href="{{ url_for('liste_concerts') }}">
      <div class="card">
        <div class="card-image">Liste des concerts prévus</div>
          <div class="card-description">Consulter la liste des concerts prévus avec l'aide de filtre, afin de les modifier ou les supprimer</div>
      </div>
    </a>
  </li>
  <li>
    <a href="{{ url_for('creation_concert') }}">
      <div>
        Creer concert
        <img
          src="{{ url_for('static', filename='img/prevus.jpg') }}"
          alt="salle de concert vide en préparation"
        />
      </div>
    </a>
  </li>
  <li>
    <a href="{{ url_for('choix_groupes_artistes') }}">
      <div class="card">
        <div class="card-image">Listes des fiches artistes</div>
          <div class="card-description">Consulter la liste des différentes fiches d'artistes ou de groupes afin de les modifier ou les supprimer</div>
      </div>
    </a>
  </li>
</ul>


</main>
{% endblock %}
