{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='accueil.css')}}" />
{% endblock %} {% block content %}
<ul class="listeOptions">
  <li>
    <a href="{{ url_for('liste_concerts') }}"
      ><div>
        Consulter la liste des concerts prévus
        <img
          src="../static/img/prevus.jpg"
          alt="salle de concert vide en préparation"
        /></div
    ></a>
  </li>
  <li>
    <a href="#"
      ><div>
        Éditer une liste de matériel à louer
        <img
          src="../static/img/materielImg.jpg"
          alt="matériel de concert"
        /></div
    ></a>
  </li>
  <li>
    <a href="{{ url_for('choix_fiche') }}"
      ><div>
        Modifier les fiches d'artiste
        <img
          src="../static/img/checklist.png"
          alt="image d'une checklist"
        /></div
    ></a>
  </li>
</ul>
{% endblock %}
