{% extends 'base_sans_log.html' %} {% block styles %}{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='completer_fiche_pdf.css')}}" />
<script type="module" src="{{ url_for('static', filename='script/upload.js') }}"></script>
{% endblock %} {% block content %}
<main>
    <h3>Veuillez compléter ces fiches :</h2>
    <div class="form">
        <div>
            <p>Plan de scène</p>
            {{ dropzone.create(action='upload_plan') }}
            {{ dropzone.load_js() }}
            {{ dropzone.config() }}
        </div>
    </div>
    <button class="submit" onclick="redirectToFinInscription();">Enregistrer</button>
    <script>
        function redirectToFinInscription() {
        // Utilisez window.location.href pour rediriger vers l'URL généré par url_for
        window.location.href = "{{ url_for('ajout_plan', concertID=concertID) }}";
        }
    </script>
</main>
{% endblock %}