<!DOCTYPE html>
<html lang="fr">
  {% block styles %}
  <link rel="stylesheet" href="{{ url_for('static',filename='base.css')}}" />
  {% endblock %}
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <title>ConcertIUT'O</title>
    {% endblock %}
  </head>
  <body class="light">
    <header>
      <a href="{{ url_for('home') }}">
        <img class="img_base" id="img1" src="./../static/img/logo.png" alt="" />
      </a>
      <h2 id="nom_Entreprise">ConcertIUT'O</h2>
      <ul>
      {% if current_user.is_authenticated%}
        <li><a class="username" >{{ current_user.nomOrga }}</a></li>
        <li><a href="{{ url_for('logout') }}" id="fond_bouton">
          <button type="button" id="bouton_se_connecter">Logout</button>
        </a></li>
        {% else %}
        <li> <a href="{{ url_for('connexion') }}" id="fond_bouton">
          <button type="button" id="bouton_se_connecter">Se connecter</button>
        </a></li>
      {% endif %}
      </ul>     
      <a href="{{ url_for('home') }}" id="home">
        <img class="img_base" id="img2" src="./../static/img/home.png" alt="" />
      </a>
      <div class="toggle-switch">
        <label class="switch-label">
          <input type="checkbox" class="checkbox" />
          <span class="slider"></span>
        </label>
      </div>
    </header>
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='script/App.js')}}"
    ></script>
    {% block content %} {% endblock %}
  </body>
</html>
