<!DOCTYPE html>
<html lang="fr">
  {% block styles %}
  <link rel="stylesheet" href="{{ url_for('static',filename='base.css')}}" />
  {% endblock %}
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <title>Concert'O</title>
    <script src="https://kit.fontawesome.com/b2318dca58.js" crossorigin="anonymous"></script>
    {% endblock %}
  </head>
  <body class="light">
    <header>
      <div class="gauche">         
        <img class="img_base" id="img1" src="{{ url_for('static', filename='img/logomusiquenoir.png') }}" alt="image du logo de l'application" />
        <h2 id="nom_Entreprise">Concert'O</h2>
      </div>

    </header>
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='script/App.js')}}"
    ></script>
    {% block content %} {% endblock %}
  </body>
</html>
