{% extends 'base.html' %} {% block styles %}{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='choix_fiche.css')}}" />
{% endblock %} {% block content %}
  <div class="main">
    <div class="middle">
      {%if current_user.nomOrga == "Technique"%}
        <a href="{{ url_for('accueil_technique') }}">
          <button type="button" id="bouton_de retour">Retour</button>
        </a>
      {% else %}
        {% if current_user.is_authenticated%}
          <a href="{{ url_for('accueil_bien_etre') }}">
            <button type="button" id="bouton_de retour">Retour</button>
          </a>
        {% else %}
          <a href="{{ url_for('connexion') }}">
            <button type="button" id="bouton_de retour">Retour</button>
          </a>
        {% endif %}
      {% endif %}
      <h1 id="modification">Modifier une fiche</h1>
    </div>
    <ul class="listeOptions">
      <li>
        <div>
          <a href="#" class="text_link">Fiche d'accueil</a>
          <a href="#">
            <div class="carre_images">
              <ul id="liste_image_accueil_1">
                <li>
                  <img
                    src="../static/img/bus.png"
                    class="image_link_liste"
                    alt="bus"
                  />
                </li>
                <li>
                  <img
                    src="../static/img/logement.png"
                    class="image_link_liste"
                    alt="logement"
                  />
                </li>
              </ul>
              <ul id="liste_image_accueil_2">
                <li>
                  <img
                    src="../static/img/nourriture.png"
                    class="image_link_liste"
                    alt="nourriture"
                  />
                </li>
                <li>
                  <img
                    src="../static/img/serrage_main.png"
                    class="image_link_liste"
                    alt="serrage_main"
                  />
                </li>
              </ul>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#" class="text_link">Fiche Rider</a>
          <a href="#">
            <div class="carre_images2">
              <ul id="liste_image_rider_1">
                <li>
                  <img
                    src="../static/img/enceinte.png"
                    class="image_link_liste"
                    alt="enceinte son"
                  />
                </li>
                <li>
                  <img
                    src="../static/img/eclat.png"
                    class="image_link_liste"
                    id="image_electrique"
                    alt="symbole électricité"
                  />
                </li>
              </ul>
              <img
                src="../static/img/branchements.png"
                id="image_branchements"
                alt="branchements électrique"
              />
            </div>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#" class="text_link">Fiche de plan feu</a>
          <a href="#">
            <img
              src="../static/img/prevus.jpg"
              class="image_link"
              alt="salle de concert vide en préparation"
            />
          </a>
        </div>
      </li>
    </ul>
  </div>
</html>
{% endblock %}