{% extends 'base.html' %} {% block styles %}{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='completer_fiche_pdf.css')}}" />
{% endblock %} {% block content %}
<main>
    <form role="form" method ="POST" action ="{{ url_for('completer_fiche_pdf') }}">
        <div class="title">Veuillez compléter ces fiches :</div>
        <div class="form">
            <div class="droparea">
                <i class="far fa-images"></i>
                <label class="nomFiche" for="nom">Fiche Plan </label>
                <div 
                    ondrop="dropHandler(event);"
                    ondragover="dragOverHandler(event);">
                    Glissez votre fichier au format PDF.
                </div>
            </div>      
            <div class="droparea">
                <i class="far fa-images"></i>
                <label class="nomFiche" for="nom">Fiche Rider </label>
                <div 
                    ondrop="dropHandler(event);"
                    ondragover="dragOverHandler(event);">
                    Glissez votre fichier au format PDF.
                </div>
            </div>                         
        </div>
        <button class="submit" type="text">Enregistrer</button>
    </form>
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='script/dragAndDrop.js')}}"
    ></script>
</main>
{% endblock %}