{% extends 'base_sans_log.html' %} {% block styles %}{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='completer_fiche.css')}}" />
{% endblock %} {% block content %}
<main>
    <form role="form" method ="POST" action ="{{ url_for('completer_fiche_pdf') }}">
        <div class="title">Veuillez compléter ces fiches :</div>
        <div class="form">
            <div class="txtArea">
                <div class="input-container">
                    <label class="iLabel" for="nom">Fiche Accueil</label>
                    <textarea class="input" name="ficheA" cols="30" rows="10" required></textarea>
                </div>
            </div>     
            <div class="txtArea">
                <div class="input-container">
                    <label class="iLabel" for="nom">Fiche Technique</label>
                    <textarea class="input" name="ficheT" cols="30" rows="10" required></textarea>
                </div>
            </div>                             
        </div>
        <button class="submit" type="text">Enregistrer</button>
    </form>
</main>
{% endblock %}