{% extends 'base.html' %} {% block styles %}{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='consulter_fiches.css')}}" />
{% endblock %} {% block content %}
  <div class="main">
    <div id="tete_page">
      <div id="bouton_retour_choix_fiche">
        <a href="{{ url_for('liste_concerts') }}">
          <button type="button" class="bouton_de_retour">Retour</button>
        </a>
      </div>
      <div class="middle">
        <h1 id="modification">Consulter fiches {{ conc.nomConcert }}</h1>
      </div>
    </div>
    <ul class="listeOptions">
      <li>
        <a href="{{ url_for('visualiser_plan' , conc=conc.concertID) }}">
          <div class="card">
            <div class="card-image">Les fiches Rider</div>
              <div class="card-description">Consulter la liste des différentes fiches d'artistes ou de groupes afin de les modifier ou les supprimer</div>
            </div>
          <div>
        </a>
      </li>
      <li>
        <a href="{{ url_for('editer_liste_a_louer', conc=conc.concertID) }}">
          <div class="card">
            <div class="card-image">Liste de matériel à louer</div>
              <div class="card-description">Consulter la liste des différentes fiches d'artistes ou de groupes afin de les modifier ou les supprimer</div>
          </div>
        </a>
      </li>
      <li>
        <a href="{{ url_for('visualiser_plan' , conc=conc.concertID) }}">
          <div class="card">
            <div class="card-image">Les fiches de plan feu</div>
              <div class="card-description">Consulter la liste des différentes fiches d'artistes ou de groupes afin de les modifier ou les supprimer</div>
            </div>
          <div>
        </a>
      </li>
    </ul>
  </div>
</html>
{% endblock %}