{% extends 'base_sans_log.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='liste_groupe_id.css')}}" />
    <script src="../static/script/confirmation.js"></script>
{% endblock %}

{% block content %}
<div class="main">
    <div id="tete_page">
        <div class="retour">
            <a href="{{ url_for('accueil_artiste', id=id) }}">
              <button type="button" class="bouton_de_retour">Retour</button>
            </a>
        </div>
        <div class="suivant">
            <a href="{{ url_for('completer_fiche', concertID=id, salleId=conc.salleID) }}">
              <button type="button" class="bouton_de_retour">Suivant</button>
            </a>
        </div>
    </div>
    <div class="middle">
        <div class="modif">
          <h1 id="modification">Modifier votre groupe si les informations ne sont pas correctes !</h1>
        </div>
        <a href="{{ url_for('ajoute_artiste', id=id) }}">
          <button type="button" class="addArtiste">ajouter un Artiste</button>
        </a>
    </div>
    <div class="partie_principale">
        
      {% if liste %}
        {% for grp, lArt in liste.items() %}
          <table class="liste_des_concerts">
            <thead>
              <th>{{grp.nomGroupe}}</th>
              <th></th>
            </thead>
            <thead>
              <th>Pseudo</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Mail</th>
              <th>Date de naissance</th>
              <th>Lieu de naissance</th>
              <th>Adresse</th>
              <th>Numéro sécurité sociale</th>
              <th>Numéro CNI</th>
              <th>Date de délivrance</th>
              <th>Date d'expiration</th>
              <th></th>
              <th></th>
              
            </thead>
            <tbody>
              {% if lArt %}
                {% for arti in lArt %}
                  <tr>
                    <td>{{arti.pseudoArtiste}}</td>
                    <td>{{arti.nomA}}</td>
                    <td>{{arti.prenomA}}</td>
                    <td>{{arti.mailA}}</td>
                    <td>{{arti.DdNA}}</td>
                    <td>{{arti.LdN}}</td>
                    <td>{{arti.adresseA}}</td>
                    <td>{{arti.numSecuriteSociale}}</td>
                    <td>{{arti.numCNI}}</td>
                    <td>{{arti.dateDelivranceCNI}}</td>
                    <td>{{arti.dateExpirationCNI}}</td>
                    <td><a href="{{ url_for('modification_art', id=id, aID=arti.artisteID) }}"><i class="fa-solid fa-pen"></i></a></td>
                    <td><a href="{{ url_for('sup_artiste_art', aID=arti.artisteID,id=id ) }}"><i class="fa-solid fa-trash"></i></a></td>
                  </tr>
                {% endfor %}
              {% endif %} 
            </tbody>
          </table>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}