{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='liste_concerts.css')}}" />
{% endblock %} {% block content %}
<div class="main">
    <div id="tete_page">
      <div id="bouton_retour_choix_fiche">
        <a href="{{ url_for('retour', typeOrga=current_user.typeOrga) }}">
          <button type="button" class="bouton_de_retour">Retour</button>
        </a>
      </div>
        <div class="middle">
          <h1 id="modification">Liste des concerts</h1>
        </div>
    </div>
    <div class="partie_principale">
        <table class="liste_des_concerts">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Artiste</th>
                    <th>Salle</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% if concerts!=None %}
            {% for x in concerts %}
            <tr>
                <th>{{x.nomConcert}}</th>
                <th>{{x.dateDebutConcert}}</th>
                <th>{{x.groupe.nomGroupe}}</th>
                <th>{{x.salle.nomSalle}}</th>
                <th><button>Modifier</button></th>
                <th><a href="{{ url_for('sup_concert', id=x.concertID) }}">Supprimer</a></th>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}