{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='liste_artiste.css')}}" />
{% endblock %} {% block content %}
<div class="main">
    <div id="tete_page">
      <div id="bouton_retour_choix_fiche">
        <a href="{{ url_for('choix_groupes_artistes') }}">
          <button type="button" class="bouton_de_retour">Retour</button>
        </a>
      </div>
      <div class="middle">
        <h1 id="modification">Liste des artistes</h1>
      </div>
    </div>
    <div class="partie_principale">
        <table class="liste_des_concerts">

            <thead>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Date de naissance</th>
                <th>Lieu de naissance</th>
                <th>Adresse</th>
                <th>Numéro sécurité sociale</th>
                <th>Numéro CNI</th>
                <th>Date de délivrance</th>
                <th>Date d'expiration</th>
                <th></th>
                <th></th>
              </thead>
              {% if lArt!=None %}
                  {% for arti in lArt %}
                    <tr>
                        <th>{{arti.pseudoArtiste}}</th>
                        <th>{{arti.nomA}}</th>
                        <th>{{arti.prenomA}}</th>
                        <th class="th-long">{{arti.mailA}}</th>
                        <th>{{arti.DdNA}}</th>
                        <th>{{arti.LdN}}</th>
                        <th>{{arti.adresseA}}</th>
                        <th>{{arti.numSecuriteSociale}}</th>
                        <th>{{arti.numCNI}}</th>
                        <th>{{arti.dateDelivranceCNI}}</th>
                        <th>{{arti.dateExpirationCNI}}</th>
                        <th><a href="{{ url_for('modification_artiste_art', id=arti.artisteID) }}"><i class="fa-solid fa-pen"></i></a></th>
                        <th><a href="{{ url_for('sup_artiste', id=arti.artisteID) }}"><i class="fa-solid fa-trash"></i></a></th>


                    </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}