{% extends 'base.html' %} {% block styles %}{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='visualisation_fiche.css')}}" />
{% endblock %} {% block content %}
    <main>
        <a class="" href="{{ url_for('retourFiche', conc=conc.concertID) }}">
            <button type="button" class="bouton_de_retour">Retour</button>
        </a>
        <ul>
            <li class="partie_gauche">
                <h1>Fiche Rider</h1>
                <object type="application/pdf" data="data:application/pdf;base64,{{conc.ficheRider.decode('utf-8') }}" id="pdf_fiche">
                    
                </object>            </li>
            <li class="partie_droite">
                <h1 >Fiche Technique</h1>
                <object type="application/pdf" data="data:application/pdf;base64,{{pdf.decode('utf-8')}}" id="pdf_fiche">
                    
                </object>
            </li>
        </ul>
        
    </main>
{% endblock %}